body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;      
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    color: #34bfb7;
}

h2 {
    color: #259b81
}

.site-header {
    background-color: #222;
    color: white;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
}

.content-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.split {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.split::-webkit-scrollbar {
    width: 10px;
}

.split::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.split::-webkit-scrollbar-thumb {
    background: #888;
}

.split::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.left {
    width: 15%;
    background-color: #222;
    color: white;
    padding: 10px;
    padding-left: 20px;
}

.right {
    width: 85%;
    background-color: #333;
    color: white;
    padding: 50px;
}

.right a {
    color: #34bfb7;
    text-decoration: none;
    border-bottom: 1px solid #34bfb7;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.right a:hover {
    color: #259b81;
    border-bottom-color: #259b81;
}

.right a:visited {
    color: #a160ae;
}