body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;      
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    color: #34bfb7;
}

h2 {
    color: #259b81
}

.site-header {
    background-color: #222;
    color: white;
    padding: 10px;
    padding-left: 20px;
    text-align: left;
}

.content-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.split {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.split::-webkit-scrollbar {
    width: 10px;
}

.split::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.split::-webkit-scrollbar-thumb {
    background: #888;
}

.split::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.left {
    width: 20%;
    background-color: #222;
    color: white;
    padding: 10px;
    padding-left: 20px;
}

.right {
    width: 80%;
    background-color: #333;
    color: white;
    padding: 50px;
}

.right a {
    color: #34bfb7;
    text-decoration: none;
    border-bottom: 1px solid #34bfb7;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.right a:hover {
    color: #259b81;
    border-bottom-color: #259b81;
}

.right a:visited {
    color: #a160ae;
}


.dropdown-container {
    width: 100%;
    margin: 10px;
}

.dropdown-button {
    width: 100%;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-content {
    display: none;
    padding-left: 20px;
    overflow: hidden;
    transition: max-heigt 0.3s ease-out;
}

.dropdown-content.show {
    display: block;
}

.chevron {
    border: solid #666;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: transfrom 0.3s;
}

.chevron.down {
    transform: rotate(45deg);
}

.chevron.up {
    transform: rotate(-135deg);
}

.file-container {
    width: 100%;
    margin: 10px;
}

.file-link {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    cursor: pointer;
    text-align: left;
}

.file-link:hover {
    background-color: #f8f8f8;
}

.file-icon {
    margin-right: 10px;
    opacity: 0.6;
}

/* Active state for the currently selected file */
.file-link.active {
    background-color: #e6e6e6;
    border-color: #999;
}