<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Archive</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>
        <header class="site-header">
            <h1>The Archive</h1>
        </header>

        <div class="content-wrapper">
            <div class="split left">
                <h2>Content</h2>
                {{table_of_content | safe}}
            </div>

            <div class="split right", id="content">
                {{content | safe}}
            </div>
            <script>
                // Handle dropdown menu closing/opening
                document.querySelectorAll('.dropdown-button').forEach(button => {
                    button.addEventListener('click', () => {
                        const content = button.nextElementSibling;

                        content.classList.toggle('show');
                    });
                });
                
                // Handle loading new content/file
                function loadContent(path) {
                    const cleanPath = path.replace(/\.md$/, '');

                    console.log("THIS IS THE CLEAN PAHT:", cleanPath);

                    document.querySelectorAll('.file-link').forEach(link => {
                        link.classList.remove('active');
                    });
                    event.currentTarget.classList.add('active');

                    fetch(`/loadFile/${cleanPath}`)
                        .then(response => response.text())
                        .then(content => {
                            document.getElementById('content').innerHTML = content;
                        })
                        .catch(error => {
                            console.error('Error loading content: ', error);
                            document.getElementById('content').innerHTML = "<h1>Error<\h1><p>Failed to load content<\p>";
                        });
                }
            </script>
        </div>
    </body>
</html>